/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

      
      MAIN COLOR: ?
      GREY COLOR: ?
*/

.services {
  padding: 9.6rem 0;
  color: #27272a;

  // Heading
  &__description {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 3.6rem;
  }

  // Img box
  &__img-box {
    position: relative;
  }

  &__img-line--first,
  &__img-line--second {
    position: absolute;
    z-index: -1;
    height: 8rem;
  }

  &__img-line--first {
    top: -4rem;
    right: -4rem;
  }

  &__img-line--second {
    bottom: -4rem;
    left: -4rem;
  }

  // Services
  &__cards {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-columns: 1fr;
    gap: 18rem;
    margin-top: 4.8rem;
  }
}
