.hero {
  min-height: 100vh;

  background: #e03131;

  &__description {
    font-size: 2rem;
    line-height: 1.6;
    color: #fef2f2;
    margin-bottom: 4.8rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6rem 4.8rem;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4.8rem;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
  }
}
