.cta-section {
  padding: 9.6rem;
}

.cta {
  background-color: #e03131;
  padding: 4.8rem;
  border-radius: 12px;
  box-shadow: 0 20px 40px #e0313154;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#e03131e0, #e03131e0), url('../../assets/cta.png');
  background-size: cover;\

  &__heading {
    color: #fceaea;
    font-size: 4.8rem;
    margin-bottom: 3.2rem;
  }
}
