.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 4.8rem;
  background: #e03131;
  width: 100%;

  .logo {
    .logo__image {
      width: 12rem;
    }
  }

  &__btn {
    z-index: 20000;
    display: none;
    background: none;
    border: none;
    align-items: center;
    font-size: 4.4rem;
  }

  &__btn--main {
    color: #fff;
  }

  &__btn--close {
    position: fixed;
    top: 3rem;
    right: 4.6rem;
  }
}

.nav__link a,
.nav__link a:link,
.nav__link a:visited {
  color: inherit;
  text-decoration: none;
}

.header--page {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 3%);

  .nav__link {
    color: #333;
  }

  .nav__link:hover {
    color: #000;
  }

  .header__btn--main {
    color: #000;
  }
}
