.testimonials {
  padding: 9.6rem;
  background: #1b0000;
  color: #fff;

  display: grid;
  grid-template-columns: 2fr 3fr;

  &__heading {
    color: #fa5252;
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 1.1;
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 4.8rem;
    img {
      height: 5.6rem;
    }
  }
}
