@media (max-width: 84em) {
  .heading-primary {
    font-size: 4.4rem !important;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem !important;
    row-gap: 6.4rem !important;
  }

  .heading-secondary {
    font-size: 3.6rem !important;
  }

  .heading-tertiary {
    font-size: 2.4rem !important;
  }

  .nav__list {
    gap: 3.2rem !important;
  }

  .testimonials {
    padding: 9.6rem 3.2rem !important;
  }
}

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .container--hero {
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 8rem;
  }

  .hero__img {
    margin: 0 auto;
    height: 100% !important;
    width: 50% !important;
  }

  .btns {
    justify-content: center !important;
  }

  .testimonials__right {
    grid-template-columns: 1fr !important;
    row-gap: 6.4rem !important;
  }

  .testimonials__heading {
    font-size: 5rem !important;
  }

  .testimonial__text {
    max-width: 75ch;
  }

  .testimonials {
    grid-template-columns: 1fr 1fr !important;
  }

  // navi
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.975);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .nav--open {
    display: flex;
    position: fixed;
    z-index: 10000;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__list .btn {
    font-size: 3rem !important;
  }

  .nav__link {
    font-size: 3rem !important;
  }

  .nav__link a {
    color: #000 !important;
  }

  .header__btn {
    display: flex !important;
  }
}

@media (max-width: 44em) {
  .container--services {
    grid-template-columns: 1fr;
  }

  .footer__container {
    grid-template-columns: 1fr 1fr !important;
  }

  .service--img-1 {
    order: 1;
  }

  .service--img-2 {
    order: 3;
  }

  .service--img-3 {
    order: 5;
  }

  .service--text-1 {
    order: 2;
  }

  .service--text-2 {
    order: 4;
  }

  .service--text-3 {
    order: 6;
  }
}

@media (max-width: 34em) {
  .grid--3-cols {
    grid-template-columns: 1fr !important;
  }

  .testimonials {
    grid-template-columns: 1fr !important;
  }
}
